Repository knoxite/knoxite, pull requests merged in 2020-04, with the labels that each got.

#70 WebDav Storage Backend (Support for Nextcloud/Owncloud)
  go.mod
  go.sum
  main.go
  storage/webdav/storage_webdav.go
Labels: feature, storage backend

#71 -c, --exclude flag for restore command
  lib/decode.go
  restore.go
Labels: cli, core, improvement

#73 Added storage backend for MS Azure File Storage
  go.mod
  go.sum
  main.go
  storage/azure/storage_azure_file.go
Labels: feature, storage backend

#74 Changed protocol parsing
  storage/azure/storage_azure_file.go
Labels: improvement, storage backend

#75 Handle error CreatePath may return
  lib/storage_filesystem.go
Labels: bug, core

#76 Keep storage init consistent
  storage/ftp/storage_ftp.go
  storage/mega/storage_mega.go
Labels: storage backend

#87 Added Tests for SFTP Storage Backend
  .travis.yml
  admin/setup_sftpgo_test_environment.sh
  lib/snapshot_test.go
  storage/sftp/storage_sftp.go
  storage/storage_test.go
Labels: storage backend, tests

#90 Removed wrong and unnecessary comments from Azure backend
  storage/azure/storage_azure_file.go
Labels: storage backend

#88 Added Google Cloud Storage backend
  go.mod
  go.sum
  main.go
  storage/googlecloud/storage_gcloud.go
Labels: feature, storage backend

#94 Add individual backend test files to enable coverage
  .github/workflows/go.yml
  storage/amazons3/storage_amazons3_test.go
  storage/backblaze/storage_backblaze_test.go
  storage/dropbox/storage_dropbox_test.go
  storage/ftp/storage_ftp_test.go
  storage/sftp/storage_sftp_test.go
  storage/storage_test.go
  storage/testhelpers.go
Labels: storage backend, tests

#96 Move knoxite-lib into root folder and cmd into cmd/knoxite
  archive.go
  backend.go
  backend_test.go
  backendmanager.go
  chunk.go
  chunkindex.go
  chunkindex_test.go
  cmd/knoxite/cat.go
  cmd/knoxite/clone.go
  cmd/knoxite/ls.go
  cmd/knoxite/main.go
  cmd/knoxite/mount.go
  cmd/knoxite/repository.go
  cmd/knoxite/restore.go
  cmd/knoxite/snapshot.go
  cmd/knoxite/store.go
  cmd/knoxite/volume.go
  compression.go
  decode.go
  encryption.go
  encryption_test.go
  hash.go
  lib/repository.go
  lib/snapshot.go
  lib/volume.go
  pipeline.go
  progress.go
  progress_test.go
  redundancy.go
  repository.go
  repository_test.go
  scanner.go
  snapshot.go
  snapshot_test.go
  stat_generic.go
  stat_unix.go
  stat_windows.go
  statistics.go
  statistics_test.go
  storage/azure/azure_file.go
  storage/backblaze/backblaze.go
  storage/backendtester.go
  storage/dropbox/dropbox.go
  storage/ftp/ftp.go
  storage/googlecloud/gcloud.go
  storage/googledrive/gdrive.go
  storage/http/http.go
  storage/mega/mega.go
  storage/s3/s3.go
  storage/sftp/sftp.go
  storage/webdav/webdav.go
  storage_filesystem.go
  storage_local.go
  storage_local_unix.go
  storage_local_windows.go
  volume.go
  volume_test.go
Labels: cli, core, improvement

#97 Added webdav tests
  .github/workflows/go.yml
  admin/setup_webdav_test_environment.sh
  admin/webdav/config
  storage/webdav/webdav_test.go
Labels: storage backend, tests
